<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ 'assets/icon.jpg' | relative_url }}" type="image/jpeg">
    {% seo %}
    <meta name="sogou_site_verification" content="uw3n7qBKxo" />
    <meta name="360-site-verification" content="ec36286dc98fb46391a03c099dcb4b64" />
    {% feed_meta %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.byted-static.com/xgplayer/3.0.8/dist/index.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" type="text/css" href="https://unpkg.byted-static.com/xgplayer-music/3.0.8/dist/index.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="{{ 'assets/bootstrapjs/bootstrap.bundle.js' | relative_url }}"></script>
    <script src="https://unpkg.byted-static.com/xgplayer/3.0.8/dist/index.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.byted-static.com/xgplayer-music/3.0.8/dist/index.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>