// 代码
code:not(pre > code) {
    color: $dark;
    background-color: #e1e1e1;
    padding: $spacer * .25 $spacer * .35;
    border-radius: $border-radius;
    margin: $spacer * .3;

    .theme-dark & {
        background: $gray-600;
        color: $gray-200;
    }
}


//.theme-dark & {}代码块的暗黑
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: $spacer * 1;
}

code.hljs {
    padding: $spacer * 0.3 $spacer * 0.5;
}

.pre-wrapper,
.hljs {
    background: $gray-900;
    color: $gray-200;

    .theme-dark & {
        background: $gray-800;
        color: $gray-200;
    }
}

.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-selector-tag,
.hljs-strong,
.hljs-tag {
    color: $danger;

    .theme-dark & {
        color: adjust-hue($danger, -10deg);
    }
}

.hljs-code {
    color: $info;

    .theme-dark & {
        color: adjust-hue($info, 10deg);
    }
}

.hljs-attribute,
.hljs-link,
.hljs-regexp,
.hljs-symbol {
    color: $purple;

    .theme-dark & {
        color: $success;
    }

}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-emphasis,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-string,
.hljs-subst,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type,
.hljs-variable {
    color: $success;

    .theme-dark & {
        color: adjust-hue($warning, -5deg);
    }
}

.hljs-class .hljs-title,
.hljs-title.class_ {
    color: $white;

    .theme-dark & {
        color: adjust-hue($gray-300, 10deg);
    }
}

.hljs-comment,
.hljs-deletion,
.hljs-meta,
.hljs-quote {
    color: $gray-600;

    .theme-dark & {
        color: $gray-500;
    }
}

.hljs-doctag,
.hljs-keyword,
.hljs-literal,
.hljs-section,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-title,
.hljs-type {
    font-weight: $font-weight-bold;
}

pre .hljs[style]:first-child {
    color: $gray-500;
    border-right-color: $gray-700;

    .theme-dark & {
        color: $gray-400;
        border-right-color: $gray-700;
    }
}