<!DOCTYPE html>
<html lang="{{ site.lang | default: 'zh' }}">
{% include head.html %}

<body>
    <header>
        <form class="flex-end" role="search" id="search_box">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">站内搜索</h5>
                    <button type="button" class="bi bi-x-lg text-primary border-primary" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-search text-secondary"></i></span>
                        <input type="search" class="form-control shadow-none" id="search-input" placeholder=" " autofocus="autofocus">
                    </div>
                    <ul class="list-group pt-2" id="results-container"></ul>
                </div>
            </div>
        </form>
        <!-- <div class="progress fixed-top bg-transparent rounded-0" role="progressbar" aria-label="阅读进度条" aria-valuemin="0" aria-valuemax="100">
            <button class="btn btn-none w-100 p-0 align-self-center border border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasScrolling" aria-label="查看目录">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="read_pro_inner"></div>
            </button>
        </div> -->
    </header>
    {% include nav.html %}
    <main {% if page.layout=='doc' %}class="container-fluid py-4" {% endif %}>
        {{ content }}
    </main>
    {% include footer.html %}
    <!--     <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const images = document.querySelectorAll("img");

        images.forEach(img => {
            const button = document.createElement("button");
            button.className = "btn btn-none position-absolute top-50 start-50 translate-middle rounded-pill border-0";
            button.type = "button";
            button.disabled = true;

            const spinner = document.createElement("span");
            spinner.className = "spinner-border spinner-border-sm text-success";
            spinner.setAttribute("aria-hidden", "true");
            button.appendChild(spinner);

            const statusSpan = document.createElement("span");
            statusSpan.setAttribute("role", "status");
            statusSpan.textContent = "Loading...";
            button.appendChild(statusSpan);

            img.parentNode.insertBefore(button, img);

            img.addEventListener("load", function() {
                button.style.display = "none";
            });
        });
    });
    </script> -->
    <script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    const tables = document.querySelectorAll("table"); // 查找页面中的所有<table>标签

    tables.forEach(function(table) {
        const tableWrapper = document.createElement("div"); // 创建一个新的<div>元素
        tableWrapper.classList.add("table-responsive"); // 添加class类为.table-responsive
        table.parentNode.insertBefore(tableWrapper, table); // 在<table>前面插入<div>
        tableWrapper.appendChild(table); // 把<table>移动到新创建的<div>里
        table.classList.add("table", "table-bordered"); // 为每个表格添加Bootstrap样式类
    });
});

    </script>
</body>

</html>